* {
    scrollbar-color: #8e8e8e #fff;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    display: border-box;
}

#erick-name {
    font-size: x-large;
    font-weight: 600;
    padding-left: 40px;
}

#erick-name:hover {
    color: #3982FD;
    text-decoration: none;
    transition: color 0.3s ease;
}

#nav-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    padding-right: 60px;
    font-size: large;
    background-color: black;
}

/* #title {
    display: relative;
    font-size: 24px;
    text-align: left;
    font-weight: 900;
    color: #fff;
    margin-right: auto;
    margin-left: 50px;
} */

/* #title a {
    font-size: 24px;
    font-weight: 900;
    color: #fff;
} */

.navbar-toggler-icon {
    color: white;
}

.nav-link:hover {
    color: #3982FD !important;
    /*passando por cima das regras do bootstrap*/
}

.navbar-nav .nav-item.dropdown:hover .nav-link {
    color: #3982FD;
}

.navbar-nav .nav-item.dropdown.show .nav-link {
    color: #3982FD;
}

.navbar-nav .nav-item.dropdown.show .dropdown-menu a:hover {
    color: #3982FD;
    background-color: transparent;
}


#conteudo {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-top: 60px;
    background-color: #f9f9f9;
    margin-right: 0;
    padding-bottom: 80px;
}

#conteudo span {
    color: #2d2e32;
    font: Poppins;
    font-weight: 600;
}

.home .img-shaking {
    width: 50px;
    position: absolute;
    margin-left: 90px;
    margin-top: -50px;
}

#row-icones-inicio {
    width: 100%;
}

#conteudo #linkedin-i:hover,
#conteudo #github-i:hover {
    transition: all .3s ease-in-out;
    -webkit-transform: translateY(-0.6rem);
    transform: translateY(-0.6rem);
    cursor: pointer;
    color: #3982FD;
}

/* .skills ul li img:hover {
    
} */


#conteudo #icones-inicio {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 40px;
    color: #2d2e32;
    height: 80px;
}

.separador {
    border-right: 1px solid;
    height: 500px;
}

.round-image-container {
    margin-top: 20px;   
    width: 500px;
    height: 500px;
    border-radius: 100%;
}

.round-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#curriculum {
    margin-top: -30px;
}

#lateral-txt {
    padding-left: 40px;
    margin-top: 140px;
    font-size: 40px;
}

span #txt-highlight {
    color: #3982FD;
}

.header a {
    text-decoration: none;
    color: #000;
    font-weight: 300;
}


#curriculum {
    border-radius: 30px;
    height: 40px;
    width: 170px;
    background-color: #fff;
    border: 1px solid #3982FD;
    color: #3982FD;
    font-weight: bold;
    outline: none;
}

#curriculum:hover {
    border: 1px solid #3982FD;
    background-color: #3982FD;
    color: #fff;
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 30px #3982FD;
}

#curriculum:active {
    border: none;
    box-shadow: none;
}

#download {
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: 2px;
}

#titulo-sobre {
    color: #3982FD;
    font-weight: 600;
}

/* Sobre */

.sobre {
    background-color: #fff;
}

.sobre ul li span {
    font-weight: 400;
}

.sobre .title-item {
    font-weight: 600;
}

#sobre-div-content {
    margin-top: 70px;
    padding-left: 25px;
    color: #3982FD;
    font-size: 30px;
    font: 'Poppins';
    font-weight: 600;
}

#sobre-content {
    margin-top: 20px;
    color: #3982FD;
    font-size: 18px;
}

#txt-lateral-sobre h2 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins';
    color: #2d2e32;
}

.tech-stack-title {
    margin-bottom: 11px;
    margin-left: 15px;
}

.sobre-logos {
    margin-top: 30px;
}

.skills {
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.8rem;
    margin-right: auto;
    margin-left: auto;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
}

.skills ul li img {
    transition: all .3s ease-in-out;
}

.skills ul li img:hover {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
}


/* fim do sobre */


/* inicio section projetos*/

.projetos {
    color: #2d2e32;
    background-color: #f9f9f9;
    margin-top: 60px;
}

.projetos .row-projetos-1 {
    margin-top: 90px;
    font-weight: 600;
    font-size: 30px;
}

.projetos .projects-div-content {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    color: #3982FD;
    font-size: 30px;
    font: 'Poppins';
    font-weight: 600;
}

.projetos .row-projetos-2 p {
    margin-bottom: 90px;
    font-size: 35px;
}

.projetos .imagem-projetos {
    margin: 0;
    padding: 0;
    width: 100%;
}

.projetos .titulo-projects {
    color: #2d2e32;
}

/* .projetos .titulo-projects-description {
    margin-top: -30px;
} */

.projetos .item {
    width: 100%;
    height: 350px;
}

.projetos .descricao-item {
    margin-right: auto;
    margin-left: auto;
}

.projetos .row-items {
    margin-right: auto;
    margin-left: auto;
}

.projetos .title-item {
    margin-bottom: 20px;
    margin-top: 15px;
}

.projetos .img-item-div {
    width: 100%;
    margin-top: 55px;
}

.projetos .img-item {
    border-radius: 20px;
}

.projetos .img-item:hover {
    cursor: pointer;
    -webkit-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem);
}

.projetos .txt-highlight {
    color: #2d2e32;
    font-weight: 600;
}

.projetos .btn-item {
    text-decoration: none;
    color: #2d2e32;
    background-color: #fff;
    border: 1px solid #2d2e32;
    width: 170px;
    margin-top: 10px;
    padding: 10px 12px 10px 12px;
    border-radius: 30px;
}

.projetos .btn-item img {
    margin-right: 5px;
}

.projetos .btn-item-projeto img {
    margin-right: 5px;
}

.projetos .btn-item:hover {
    text-decoration: none;
    color: #fff !important;
    background-color: #3982FD;
    border: 1px solid #000;
    width: 170px;
    margin-top: 10px;
    padding: 10px 12px 10px 12px;
    border-radius: 30px;
    transition: .2s ease ease-in-out;
}

.projetos .btn-item-projeto {
    text-decoration: none;
    color: #2d2e32;
    background-color: #fff;
    border: 0.2px solid #2d2e32;
    width: 170px;
    margin-top: 30px;
    padding: 10px 12px 10px 12px;
    border-radius: 30px;
}

.projetos .btn-cima {
    gap: 10px;
}

.projetos .btn-item-projeto:hover {
    text-decoration: none;
    color: #fff !important;
    background-color: #3982FD;
    border: 0.2px solid #2d2e32;
    width: 170px;
    margin-top: 30px;
    padding: 10px 12px 10px 12px;
    border-radius: 30px;
    transition: .2s ease ease-in-out;
}


/* fim section projetos*/

/* inicio section experiencia */

.cv .cv-title {
    font-weight: 600;
    font-size: 30px;
    margin: 20px 0px 20px 0px;
    color: #3982FD;
}

.cv .cv-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #3982FD;
    position: relative;
}

.cv .cv-item h4 {
    line-height: 23px;
    font-weight: 600;
    /* text-transform: uppercase; */
    margin-bottom: 10px;
}

.cv .cv-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: -8.5px;
    width: 16px;
    height: 16px;
    border: 2px solid #3982FD;
    background-color: #fff;
    border-radius: 50%;
}

.cv .more {
    border: 1px solid #3982FD;
    color: #3982FD;
    margin-left: -35px;
}


.cv .more:hover {
    border: 1px solid #3982FD;
    background-color: #3982FD;
    color: #fff;
}

/* fim section experiencia */


/* inicio footer */

.footer {
    background-color: #000;
    color: white;
    font-weight: 600;
    padding: 40px 0px 0px 0px;
}

.icones {
    gap: 15px;
    font-size: 30px;
    margin-left: -15.5px;
}

.icones a i {
    color: white;
}

.icones a i:hover {
    cursor: pointer;
    color: #3982FD;
    transition: .2s ease;
}

.nav-footer {
    gap: 20px;
    margin-top: 15px;
}

.erick-footer {
    margin-top: 10px;
    font-weight: 600;
    padding-top: 15px;
    font-size: 20px;
    border-top: 1px solid #2d2e32;
}

.erick-footer:hover {
    color: #3982FD;
    transition: .2s ease;
}

.copyright {
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
}

/* fim footer */

/* inicio pagina projetos */

.separador-horizontal {
    height: 0px;
    border: .3px solid #009970;
    width: 90%;
    margin-left: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    margin-right: auto;
}

.title .txt-highlight {
    color: #009970;
}

.title .txt-highlight-item {
    color: #009970;
    font-size: 2.6vh 2.6vw;
}

.title .coluna-img img {
    border: 1px solid #009970;
    padding: 3px 0 3px 0;
    border-radius: 6px;
}

.title .txt-lateral-div {
    line-height: 21px;
    margin-top: -40px;
}

.title .txt-lateral {
    line-height: 21px;
}

.txt-lateral-paragraph {
    margin-bottom: 0;
}

/* item 2 da pagina projetos */
.title2 .txt-highlight {
    color: #009970;
}

.title2 .txt-highlight-item {
    color: #009970;
    font-size: 2.6vh 2.6vw;
}

.title2 .coluna-img img {
    border: 1px solid #009970;
    padding: 3px 0 3px 0;
    border-radius: 6px;
}

.title2 .txt-lateral-div {
    line-height: 21px;
    margin-top: -40px;
}

.title2 .txt-lateral {
    line-height: 21px;
}

/* fim item 2 da pagina projetos */


/* inicio pagina projetos to-do.app */

.txt-highlight-todo {
    font-weight: 600;
    color: #c89666;
}

.separador-horizontal-todo {
    height: 0px;
    border: .3px solid #c89666;
    width: 90%;
    margin-left: auto;
    margin-top: 90px;
    margin-bottom: 50px;
    margin-right: auto;
}

/* fim pagina projetos */

.title .coluna-img-todo img {
    border: 1px solid black;
    /* padding: 3px 0 3px 0; */
    border-radius: 6px;
}

.title2 .coluna-img-todo img {
    border: 1px solid black;
    /* padding: 3px 0 3px 0; */
    border-radius: 6px;
}


/* media queries */



@media(max-width: 340px) {
    .round-image-container {
        margin-top: 20px;
        width: 170px;
        height: 170px;
        border-radius: 100%;
    }

    .home img-hero-section {
        width: 40px;
    }
}

@media(max-width: 375px) {
    .cv .cv-item h4 {
        line-height: 23px;
        font-weight: 600;
        font-size: 16px;
        /* text-transform: uppercase; */
        margin-bottom: 10px;
    }
}

@media (max-width: 475px) {
    .home img-hero-section {
        width: 80px;
    }
}

@media(max-width: 500px) {
    .round-image-container {
        margin-top: -30px;
        width: 320px;
        height: 320px;
        border-radius: 100%;
        margin-right: 20px;
    }

    /* .home #curriculum {
        margin-right: 20px;
    } */
    #lateral-txt {
        margin-right: 20px;
    }

    .separador {
        height: 300px;
    }

    .projetos .col-item {
        margin-top: 0px;
    }
}

@media (max-width: 475px) {
    .home img-hero-section {
        width: 80px;
    }
}

@media (max-width: 575px) {
    #erick-name {
        padding-left: 20px;
    }

    #nav-header {
        padding: 15px;
        padding-right: 20px;
    }

    body {
        overflow-x: hidden;
    }
}

@media (min-width: 992px) {
    .home .img-shaking {
        width: 50px;
        position: absolute;
        margin-left: 95px;
        margin-top: -63px;
    }
}

@media (max-width: 992px) {
    .separador {
        border: none;
    }

    #lateral-txt {
        margin-top: 75px;
        padding-left: 80px;
    }

    #row-sobre {
        margin-top: 120px;
    }

    #conteudo #icones-inicio {
        margin-top: 10px;
    }

    .home .img-shaking {
        width: 50px;
        position: absolute;
        margin-left: 95px;
        margin-top: -65px;
    }

    .title .txt-lateral-div {
        line-height: 21px;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .navbar-nav {
        width: 100%;
        justify-content: center;
    }

    .navbar-nav .dropdown-menu {
        margin-left: 25px;
    }

    .navbar-nav .dropdown-toggle {
        margin-left: 15px;
    }

    /* .projetos .img-item-div {
        margin-top: -50px;
    } */

    .projetos .btn-item img {
        display: none;
    }

    .projetos .btn-item {
        border-radius: 30px;
        border: 1px solid #000;
    }

    .projetos .btn-item-projeto img {
        display: none;
    }
}

@media (max-width: 883px) {
    .projetos .row-projetos-1 {
        margin-top: 200px;
    }
}

@media (min-width: 1275px) {
    #conteudo #icones-inicio {
        margin-top: 147px;
    }

}